@model IEnumerable<IBS.Models.MMSI.MasterFile.Tugboat>

@{
    ViewData["Title"] = "Tug Boat";
}

<div class="loader-container">
    <div class="loader"></div>
    <div class="loader-text">Loading...</div>
</div>

<div class="card shadow mt-4">

    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="col-12 text-center text-white">
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>

    <div class="card-body">

        <div class="row justify-content-end mb-2">
            <div class="text-center" style="width: 150px;">
                <a class="btn btn-primary col-12 align-content-center" asp-controller="Tugboat" asp-action="Create">
                    <i class="bi bi-plus-circle"></i> Create
                </a>
            </div>
        </div>

        <table id="dataTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(m => m.TugboatNumber)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(m => m.TugboatName)
                </th>
                <th class="text-center">
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center align-content-center">
                        @Html.DisplayFor(model => item.TugboatNumber)
                    </td>
                    <td class="text-center align-content-center">
                        @Html.DisplayFor(model => item.TugboatName)
                    </td>

                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle col-12" type="button" id="actionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">Actions</button>
                            <ul class="dropdown-menu" aria-labelledby="actionsDropdown">
                                <li><a class="dropdown-item" href="@Url.Action("Edit", "Tugboat", new { id = item.TugboatId })">Edit</a></li>
                                <li><a class="dropdown-item delete-button" href="@Url.Action("Delete", "Tugboat", new { id = item.TugboatId })">Delete</a></li>
                            </ul>
                        </div>
                    </td>

                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        let dataTableVar = $('#dataTable');
        
        document.querySelectorAll('.delete-button').forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent default navigation

                const href = this.getAttribute('href'); // Get the href value
                Swal.fire({
                    title: 'Delete?',
                    text: "Delete this Tugboat entry?",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = href; // Redirect to the href URL
                    }
                });
            });
        });

        $(document).ready(function () {
            if ($.fn.DataTable.isDataTable('#dataTable')) {
                dataTableVar.DataTable().destroy();
            }

            dataTableVar.DataTable({
                "autoWidth": false,
                "columnDefs": [
                    {
                        "targets": 2,
                        "width": "150px",
                        "className": "text-center",
                        "orderable": false
                    }
                ]
            });
        });
    
    </script>
}