@model TariffViewModel

@{
    ViewData["Title"] = "Dispatch Ticket - Edit Tariff";

    var filterType = ViewBag.FilterType as string;
}

<link rel="stylesheet" href="~/css/form-style.css">

<div class="card text-dark bg-white  m-4">

    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <h2 class="text-white py-2">@ViewData["Title"]</h2>
            @if (Model.JobOrderId.HasValue)
            {
                <a asp-controller="JobOrder" asp-action="Details" asp-route-id="@Model.JobOrderId.Value" class="btn btn-light btn-sm">
                    <i class="bi bi-arrow-left"></i> Back to Job Order
                </a>
            }
        </div>
    </div>

    <div class="card-body p-3 m-0">
        <div class="row g-0 justify-content-center">
            <div class="col p-2 border rounded">
                <div class="row m-2">
                    <div class="col">
                        <h5>DISPATCH TICKET DETAILS</h5>
                    </div>
                </div>
                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>DISPATCH #:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.DispatchNumber</td>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>COS #:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.COSNumber</td>
                    </tr>
                    <tr>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>CUSTOMER:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.CustomerName</td>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>VOYAGE #:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.VoyageNumber</td>
                    </tr>
                    <tr>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>DATE:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.Date</td>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>TUGMASTER:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.TugMasterName</td>
                    </tr>
                    <tr>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>DATE START:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.DateLeft @Model.TimeLeft</td>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>TUGBOAT:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.TugboatName</td>
                    </tr>
                    <tr>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>DATE END:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.DateArrived @Model.TimeArrived</td>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>VESSEL:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.VesselName</td>
                    </tr>
                    <tr>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>PORT-TERMINAL: </b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.PortName - @Model.TerminalName</td>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>VESSEL TYPE:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.VesselType</td>
                    </tr>
                    <tr>
                        <td class="m-0 p-0 pt-3 ps-4" style="width: 120px;"><b>REMARKS: </b></td>
                        <td class="m-0 p-0 pt-3 border-bottom border-dark" style="width: 250px;" colspan="3">@Model.Remarks</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card-body p-3 m-0">
        <form id="myForm" method="post" class="row">
            <input type="hidden" asp-for="DispatchNumber" value="@Model.DispatchNumber"></input>
            <div class="border-2 px-3 mt-2">
                <div asp-validation-summary="ModelOnly"></div>

                <input asp-for="DispatchTicketId" value="@Model.DispatchTicketId" id="DispatchTicketId" type="hidden">

                <div class="row d-flex justify-content-start px-3">
                    <div class="col">
                        <h5>TARIFF DETAILS</h5>
                    </div>
                </div>

                <div class="row d-flex justify-content-start px-3">
                    <div class="form-group col-12 pe-3 text-start">
                        <div class="row mt-2">
                            <div class="col-3 d-flex justify-content-start align-items-center">
                                <b>Total Hours:</b>
                                <span class="ms-2">@Model.TotalHours?.ToString(SD.Two_Decimal_Format)</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Left Section -->
                    <div class="col-6 align-content-center p-3">
                        <div class="row border rounded">
                            <div class="col">
                                <div class="row">
                                    <div class="col-6 mt-3 text-start">
                                        <b><i>Dispatch charge type</i></b>
                                    </div>
                                    <div class="col-6"></div>
                                </div>
                                <div class="row justify-content-end">
                                    <div class="col text-start">
                                        <label class="mx-1">
                                            <input name="chargeType" type="radio" value="Per hour" required @(Model.DispatchChargeType == null ? "checked" : "") @(Model.DispatchChargeType == "Per hour" ? "checked" : "")> Per Hour
                                        </label>
                                        <label class="mx-1">
                                            <input name="chargeType" type="radio" value="Per move" required @(Model.DispatchChargeType == "Per move" ? "checked" : "")/> Per Move
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-floating col-6 mb-3">
                                        <input asp-for="DispatchRate" step="0.01" type="number" class="form-control border-0 shadow" id="DispatchRate" placeholder=" " min="0">
                                        <label asp-for="DispatchRate" for="DispatchRate" class="ms-2">Dispatch Rate</label>
                                        <span asp-validation-for="DispatchRate" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating col-6 mb-3">
                                        <input asp-for="DispatchDiscount" step="0.01" value="@Model.DispatchDiscount" type="number" class="form-control border-0 shadow" id="DispatchDiscount" placeholder=" " min="0" max="100">
                                        <label asp-for="DispatchDiscount" for="DispatchDiscount" class="ms-2">Dispatch Discount(%)</label>
                                        <span asp-validation-for="DispatchDiscount" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="form-floating col-6 mb-3">
                                        <input asp-for="DispatchBillingAmount" class="form-control border-0 shadow" id="DispatchBillingAmount" readonly />
                                        <label asp-for="DispatchBillingAmount" for="DispatchBillingAmount" class="ms-2">Dispatch Billing</label>
                                        <span asp-validation-for="DispatchBillingAmount" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating col-6 mb-3">
                                        <input asp-for="DispatchNetRevenue" class="form-control border-0 shadow" id="DispatchNetRevenue" readonly/>
                                        <label asp-for="DispatchNetRevenue" for="DispatchNetRevenue" class="ms-2">Dispatch Net Revenue</label>
                                        <span asp-validation-for="DispatchNetRevenue" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Right Section -->
                    <div class="col-6 align-content-center p-3">
                        <div class="row border rounded">
                            <div class="col">
                                <div class="row">
                                    <div class="col-6 mt-3 text-start">
                                        <div class="row">
                                            <div class="col-12">
                                                <b><i>BAF charge type</i></b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col text-start">
                                                <label class="mx-1">
                                                    <input name="chargeType2" type="radio" value="Per hour" required @(Model.BAFChargeType == null ? "checked" : "") @(Model.BAFChargeType == "Per hour" ? "checked" : "")> Per Hour
                                                </label>
                                                <label class="mx-1">
                                                    <input name="chargeType2" type="radio" value="Per move" required @(Model.BAFChargeType == "Per move" ? "checked" : "")/> Per Move
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-floating col-6 mb-3">
                                        <input asp-for="BAFRate" step="0.01" type="number" class="form-control border-0 shadow" id="BAFRate" placeholder=" " min="0">
                                        <label asp-for="BAFRate" for="BAFRate" class="ms-2">BAF Rate</label>
                                        <span asp-validation-for="BAFRate" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating col-6 mb-3">
                                        <input asp-for="BAFDiscount" step="0.01" value="@Model.BAFDiscount" type="number" class="form-control border-0 shadow" id="BAFDiscount" placeholder=" " min="0" max="100">
                                        <label asp-for="BAFDiscount" for="BAFDiscount" class="ms-2">BAF Discount(%)</label>
                                        <span asp-validation-for="BAFDiscount" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="form-floating col-6 mb-3">
                                        <input asp-for="BAFBillingAmount" class="form-control border-0 shadow" id="BAFBillingAmount" readonly/>
                                        <label asp-for="BAFBillingAmount" for="BAFBillingAmount" class="ms-2">BAF Billing</label>
                                        <span asp-validation-for="BAFBillingAmount" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating col-6 mb-3">
                                        <input asp-for="BAFNetRevenue" class="form-control border-0 shadow" id="BAFNetRevenue" readonly/>
                                        <label asp-for="BAFNetRevenue" for="BAFNetRevenue" class="ms-2">BAF Net Revenue</label>
                                        <span asp-validation-for="BAFNetRevenue" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row px-3">
                    <div class="col-6 align-content-center px-3">
                        <div class="row">
                            <div class="form-floating col-6">
                                <input asp-for="TotalBilling" class="form-control border-0 shadow" placeholder="" id="TotalBilling" readonly/>
                                <label asp-for="TotalBilling" for="TotalBilling" class="ms-2">Total Billing</label>
                                <span asp-validation-for="TotalBilling" class="text-danger"></span>
                            </div>

                            <div class="form-floating col-6">
                                <input asp-for="TotalNetRevenue" class="form-control border-0 shadow" placeholder="" id="TotalNetRevenue" readonly/>
                                <label asp-for="TotalNetRevenue" for="TotalNetRevenue" class="ms-2">Total Net Revenue</label>
                                <span asp-validation-for="TotalNetRevenue" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    @if ((bool)!Model.IsTugboatCompanyOwned!)
                    {
                        <div class="col-6 align-content-center px-3">
                            <div class="row border">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-6 mt-3 text-start">
                                            <b><i>Ap Other Tugs</i></b>
                                        </div>
                                        <div class="col-6"></div>
                                    </div>
                                    <div class="row justify-content-end">
                                        <div class="form-floating col-6 mb-3">
                                            <input class="form-control border-0 shadow" placeholder="" id="TugProvider" value="@Model.TugboatOwnerName" readonly/>
                                            <label for="TugProvider" class="ms-2">Tug Provider</label>
                                        </div>
                                        <div class="form-floating col-6 mb-3">
                                            <input asp-for="ApOtherTugs" type="number" class="form-control border-0 shadow" placeholder=" " min="0">
                                            <label asp-for="ApOtherTugs" class="ms-2">Ap Other Tugs</label>
                                            <span asp-validation-for="ApOtherTugs" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-6 align-content-center px-3">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row justify-content-end mt-4 mb-2">
                                        <div class="text-center col-6" style="width: 250px;">
                                            <button class="btn btn-primary col-12 align-content-center selected-options" type="submit" id="submitButton"><i class="bi bi-pencil-square"></i> Submit</button>
                                        </div>
                                        <div class="text-center col-6" style="width: 250px;">
                                            @if (Model.JobOrderId.HasValue)
                                            {
                                                <a class="btn btn-outline-primary col-12 align-content-center selected-options" asp-controller="JobOrder" asp-action="Details" asp-route-id="@Model.JobOrderId.Value">
                                                    <i class="bi bi-arrow-90deg-left"></i> Back to Job Order
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-outline-primary col-12 align-content-center selected-options" asp-controller="DispatchTicket" asp-action="Index" asp-area="User" asp-route-filterType="@filterType">
                                                    <i class="bi bi-arrow-90deg-left"></i> Go Back
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if((bool)!Model.IsTugboatCompanyOwned!)
                {
                    <div class="row">
                        <div class="col-12">
                            <div class="row justify-content-end mt-4 mb-2">
                                <div class="text-center col-6" style="width: 250px;">
                                    <button class="btn btn-primary col-12 align-content-center selected-options" type="submit" id="submitButton"><i class="bi bi-pencil-square"></i> Submit</button>
                                </div>
                                <div class="text-center col-6" style="width: 250px;">
                                    @if (Model.JobOrderId.HasValue)
                                    {
                                        <a class="btn btn-outline-primary col-12 align-content-center selected-options" asp-controller="JobOrder" asp-action="Details" asp-route-id="@Model.JobOrderId.Value">
                                            <i class="bi bi-arrow-90deg-left"></i> Back to Job Order
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-outline-primary col-12 align-content-center selected-options" asp-controller="DispatchTicket" asp-action="Index" asp-area="User" asp-route-filterType="@filterType">
                                            <i class="bi bi-arrow-90deg-left"></i> Go Back
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </form>
    </div>
</div>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        $(document).ready(function () {
            let dispatchRateInputVar = $('input[name="DispatchRate"]');
            let bafRateInputVar = $('input[name="BAFRate"]');
            let dispatchDiscountInputVar = $('input[name="DispatchDiscount"]');
            let bafDiscountInputVar = $('input[name="BAFDiscount"]');
            let customerIdVar = $("#CustomerId");

            ValueChange()
            $('#CustomerId').select2({
                placeholder: "Select Customer", // Custom placeholder
                allowClear: true, // Optional: adds an "x" to clear selection
                width: '100%', // Ensures it respects your width:100% style
                theme: 'classic'
            });

            function ValueChange() 
            {
                @* Get if per hour or per move *@
                let selectedValue = $('input[name="chargeType"]:checked').val();
                let selectedValue2 = $('input[name="chargeType2"]:checked').val();
                
                @* Get Dispatch/BAF Rate and Discount Value *@
                let dispatchRate = dispatchRateInputVar.val() || 0;
                let dispatchDiscountPercent = dispatchDiscountInputVar.val() || 0;
                let dispatchDiscountAmount = dispatchRate * ((dispatchDiscountPercent || 0) / 100);

                let bafRate = bafRateInputVar.val() || 0;
                let bafDiscountPercent = bafDiscountInputVar.val() || 0;
                let bafDiscountAmount = bafRate * ((bafDiscountPercent || 0) / 100);

                @* Calculate, format, then show Dispatch/BAF Rate *@
                let dispatchRevenue = 0;
                let dispatchBilling = 0;
                let bafRevenue = 0;
                let bafBilling = 0;

                if (selectedValue === "Per hour") {
                    dispatchRevenue = (dispatchRate * @Model.TotalHours) - (dispatchDiscountAmount * @Model.TotalHours);
                    dispatchBilling = dispatchRate * @Model.TotalHours;
                }
                if (selectedValue === "Per move") {
                    dispatchRevenue = dispatchRate - dispatchDiscountAmount;
                    dispatchBilling = parseNumber(dispatchRate) // Ensure two decimal places
                }

                if (selectedValue2 === "Per hour") {
                    bafRevenue = (bafRate * @Model.TotalHours) - (bafDiscountAmount * @Model.TotalHours);
                    bafBilling = bafRate * @Model.TotalHours;
                }
                if (selectedValue2 === "Per move") {
                    bafRevenue = bafRate - bafDiscountAmount;
                    bafBilling = parseNumber(bafRate); // Ensure two decimal places
                }

                let dispatchRevenueFormatted = formatNumber(dispatchRevenue);
                let dispatchBillingFormatted = formatNumber(dispatchBilling);

                let bafRevenueFormatted = formatNumber(bafRevenue);
                let bafBillingFormatted = formatNumber(bafBilling);

                $('input[name="DispatchBillingAmount"]').val(dispatchBillingFormatted);
                $('input[name="BAFBillingAmount"]').val(bafBillingFormatted);
                $('input[name="DispatchNetRevenue"]').val(dispatchRevenueFormatted);
                $('input[name="BAFNetRevenue"]').val(bafRevenueFormatted);
                
                @* Calculate, Parse, Format, and Display Total Billings/ Revenue *@
                let totalBilling = dispatchBilling + bafBilling;
                let formattedTotalBilling = formatNumber(totalBilling);
                $('input[name="TotalBilling"]').val(formattedTotalBilling);

                let totalRevenue = dispatchRevenue + bafRevenue;
                let formattedTotalRevenue = formatNumber(totalRevenue);
                $('input[name="TotalNetRevenue"]').val(formattedTotalRevenue);
            }

            function CustomerChange() {
                let customerId = customerIdVar.val();
                let dispatchTicketId = $("#DispatchTicketId").val();

                $.ajax({
                    url: '@Url.Action("CheckForTariffRate", "DispatchTicket", new { area = "User" })',
                    method: "GET",

                    data: { customerId : customerId, dispatchTicketId : dispatchTicketId },
                    success: function(result) {
                        if (result.exists){
                            $("#DispatchRate").val(result.dispatch);
                            $("#BAFRate").val(result.baf);

                            Swal.fire({
                                position: "center",
                                icon: "success",
                                title: "Default rate applied:",
                                html: `<div class="row mt-2">
                                            <div class="col-6 text-center align-items-center">
                                                <strong>Dispatch Rate:</strong> ₱${result.dispatch}
                                            </div>
                                            <div class="col-6 text-center align-items-center">
                                                <strong>BAF Rate:</strong> ₱${result.baf}
                                            </div>
                                        </div>  `,
                                showConfirmButton: false,
                                timer: 3000
                            });
                            ValueChange();
                            
                        }
                        else
                        {
                            $("#DispatchRate").val(null);
                            $("#BAFRate").val(null);
                            ValueChange();
                        }

                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            }

            function checkDispatchAndBafValues (event) {

                event.preventDefault();

                let dispatchRateVal = dispatchRateInputVar.val();
                let bafRateVal = bafRateInputVar.val();
                let dispatchRate = parseNumber(dispatchRateVal);
                let bafRate = parseNumber(bafRateVal);

                const form = document.getElementById("myForm");

                // checks if form is valid
                if (!form.checkValidity()) {
                    form.reportValidity();
                    return;
                }

                // checks if values are both zero
                if ((dispatchRate === 0 || dispatchRate === "" || dispatchRate == null) &&
                    (bafRate === 0 || bafRate === "" || bafRate == null)) {
                    Swal.fire({
                        icon: "error",
                        title: "Error",
                        text: "Dispatch rate and BAF rate cannot be both zero"
                    });
                }
                else
                {
                    let dispatchBillingAmountInput = $('input[name="DispatchBillingAmount"]');
                    let bafBillingAmountInput = $('input[name="BAFBillingAmount"]');
                    let dispatchNetRevenueInput = $('input[name="DispatchNetRevenue"]');
                    let bafNetRevenueInput = $('input[name="BAFNetRevenue"]');
                    
                    let parsedDispatchBillingAmount = parseNumber(dispatchBillingAmountInput.val());
                    let parsedBAFBillingAmount = parseNumber(bafBillingAmountInput.val());
                    let parsedDispatchNetRevenue = parseNumber(dispatchNetRevenueInput.val());
                    let parsedBAFNetRevenue = parseNumber(bafNetRevenueInput.val());

                    dispatchBillingAmountInput.val(parsedDispatchBillingAmount);
                    bafBillingAmountInput.val(parsedBAFBillingAmount);
                    dispatchNetRevenueInput.val(parsedDispatchNetRevenue);
                    bafNetRevenueInput.val(parsedBAFNetRevenue);
                    
                    let totalBilling = parsedDispatchBillingAmount + parsedBAFBillingAmount;
                    $('input[name="TotalBilling"]').val(totalBilling);

                    let totalRevenue = parsedDispatchNetRevenue + parsedBAFNetRevenue;
                    $('input[name="TotalNetRevenue"]').val(totalRevenue);
                    
                    document.getElementById('myForm').requestSubmit();
                }
            }

            dispatchRateInputVar.on('input', function () 
            { ValueChange(); });

            bafRateInputVar.on('input', function () 
            { ValueChange(); });

            dispatchDiscountInputVar.on('input', function ()
            { ValueChange(); });

            bafDiscountInputVar.on('input', function () 
            { ValueChange(); });

            customerIdVar.on('change', function ()
            { CustomerChange(); });

            $("#submitButton").on("click", checkDispatchAndBafValues);
            
            $(document).on('change', 'input[name="chargeType"]', ValueChange);
            $(document).on('change', 'input[name="chargeType2"]', ValueChange);

            document.getElementById('viewUpload')?.addEventListener('click', function () {
                let maxHeight = window.innerHeight * 0.8;

                Swal.fire({
                    imageUrl: '@Url.Content("~/Dispatch_Ticket_Uploads/" + Model.ImageName)',
                    imageAlt: "Custom image",
                    showConfirmButton: false,
                    background: 'transparent',
                    customClass: {
                        popup: 'custom-image-popup' // Unique class for this modal
                    },
                    padding: 0,
                    width: 'auto',
                    heightAuto: true,
                    didOpen: () => {
                        let swal2Imagevar = $('.swal2-image');
                        swal2Imagevar.css('max-height', maxHeight + 'px');
                        swal2Imagevar.css('height', 'auto');
                    }
                });
            });

            ValueChange();
        });

    </script>
}