@model IBS.Models.MMSI.DispatchTicket

@{
    ViewData["Title"] = "Dispatch Ticket - Preview";

    var filterType = ViewBag.FilterType as string;
}

<div class="card text-dark bg-white  m-4">

    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="col-12 text-center">
            <h2 class="text-white py-2">@ViewData["Title"]</h2>
        </div>
    </div>
    
    <div class="card-body p-3 m-0">
        <div class="row g-0 justify-content-center">
            <div class="col p-2 border rounded">
                <div class="row m-2">
                    <div class="col">
                        <h5>DISPATCH TICKET DETAILS</h5>
                    </div>
                </div>
                <table class="table table-borderless" style="font-size: 18px;">
                    <tbody>
                    <tr>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>DISPATCH #:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.DispatchNumber</td>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>COS #:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.COSNumber</td>
                    </tr>
                    <tr>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>CUSTOMER: </b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.Customer?.CustomerName</td>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>VOYAGE #:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.VoyageNumber</td>
                    </tr>
                    <tr>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>DATE:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.Date</td>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>TUGMASTER:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.TugMaster?.TugMasterName</td>
                    </tr>
                    <tr>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>DATE START:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.DateLeft @Model.TimeLeft</td>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>TUGBOAT:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.Tugboat?.TugboatName</td>
                    </tr>
                    <tr>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>DATE END:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.DateArrived @Model.TimeArrived</td>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>VESSEL:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.Vessel?.VesselName</td>
                    </tr>
                    <tr>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>PORT-TERMINAL: </b></td>
                            @if (Model.Terminal is not null)
                            {
                                <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">
                                    @Model.Terminal.Port?.PortName - @Model.Terminal.TerminalName
                                </td>
                            }
                            else
                            {
                                <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;"></td>
                            }
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>VESSEL TYPE:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.Vessel?.VesselType</td>
                    </tr>
                    <tr>
                        <td class="m-0 p-0 pt-3 ps-4" style="width: 120px;"><b>REMARKS: </b></td>
                        <td class="m-0 p-0 pt-3 ps-3 border-bottom border-dark" style="width: 250px;" colspan="3">@Model.Remarks</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card-body p-3 m-0">
        <div class="row g-0 justify-content-center">
            <div class="col p-3 border rounded">
                <div class="row m-2 justify-content-start d-flex">
                    <div class="col-3">
                        <h5>TARIFF DETAILS</h5>
                    </div>
                    <div class="col-5">
                        @if (Model.Status == "For Approval")
                        {
                            <div class="col-6 text-center p-0 ps-3 pb-2 d-flex justify-content-start align-items-center">
                                <img alt="OrangePendingIcon" src="~/img/orangePendingIcon.png" style="height: 25px; width: 25px;" />
                                <h5 class="text-warning ms-2 mb-0">For Approval</h5>
                            </div>
                        }

                        @if (Model.Status == "For Billing")
                        {
                            <div class="col-6 text-center p-0 ps-3 pb-2 d-flex justify-content-start align-items-center">
                                <img alt="greenCheckIcon" src="~/img/greenCheckIcon.png" style="height: 25px; width: 25px;" />
                                <h5 class="text-success ms-2 mb-0">Tariff Approved</h5>
                            </div>
                        }

                        @if (Model.Status == "Disapproved")
                        {
                            <div class="col-6 text-center p-0 ps-3 pb-2 d-flex justify-content-start align-items-center">
                                <img alt="RedCrossIcon" src="~/img/redCrossIcon.png" style="height: 25px; width: 25px;" />
                                <h5 class="text-danger ms-2 mb-0">Tariff Disapproved</h5>
                            </div>
                        }
                    </div>
                </div>
                <table class="table table-borderless" style="font-size: 18px;">
                    <tbody>
                    <tr>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>DISPATCH RATE:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.DispatchRate.ToString(SD.Two_Decimal_Format)</td>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 200px;"><b>DISPATCH DISCOUNT:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.DispatchDiscount%</td>
                    </tr>
                    <tr>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>DISPATCH BILLING:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.DispatchBillingAmount.ToString(SD.Two_Decimal_Format)</td>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 200px;"><b>DISPATCH NET REVENUE:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.DispatchNetRevenue.ToString(SD.Two_Decimal_Format)</td>
                    </tr>
                    <tr>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>BAF RATE:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.BAFRate.ToString(SD.Two_Decimal_Format)</td>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 200px;"><b>BAF DISCOUNT:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.BAFDiscount%</td>
                    </tr>
                    <tr>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>BAF BILLING: </b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.BAFBillingAmount.ToString(SD.Two_Decimal_Format)</td>
                        <td class="m-0 p-0 pt-1 ps-4" style="width: 200px;"><b>BAF NET REVENUE:</b></td>
                        <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.BAFNetRevenue.ToString(SD.Two_Decimal_Format)</td>
                    </tr>
                    @if  (Model.Tugboat != null && !Model.Tugboat.IsCompanyOwned)
                    {
                        <tr>
                            <td class="m-0 p-0 pt-1 ps-4" style="width: 150px;"><b>AP OTHER TUGS: </b></td>
                            <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.ApOtherTugs.ToString(SD.Two_Decimal_Format)</td>
                            <td class="m-0 p-0 pt-1 ps-4" style="width: 200px;"><b>TUGBOAT OWNER:</b></td>
                            <td class="m-0 p-0 pt-1 ps-3 border-bottom border-dark" style="width: 250px;">@Model.Tugboat.TugboatOwner?.TugboatOwnerName</td>
                        </tr>
                    }
                    <tr>
                        <td class="m-0 p-0 pt-3 ps-4" style="width: 150px;"><b>TOTAL BILLING: </b></td>
                        <td class="m-0 p-0 pt-3 ps-3 border-bottom border-dark" style="width: 250px;"><b>@Model.TotalBilling.ToString(SD.Two_Decimal_Format)</b></td>
                        <td class="m-0 p-0 pt-3 ps-4" style="width: 200px;"><b>TOTAL NET REVENUE:</b></td>
                        <td class="m-0 p-0 pt-3 ps-3 border-bottom border-dark" style="width: 250px;"><b>@Model.TotalNetRevenue.ToString(SD.Two_Decimal_Format)</b></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row col-12 justify-content-end mb-4">
            <div class="text-center" style="width: 250px;">
                @if ((Model.Status != "Billed") 
                || !string.IsNullOrEmpty(Model.ImageName))
                {
                    <div class="dropdown align-content-center">
                        <button class="btn btn-primary dropdown-toggle col-12" type="button" id="actionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">Actions</button>
                        <ul class="dropdown-menu" style="position: absolute !important; left: 0 !important; right: auto !important;" aria-labelledby="actionsDropdown">
                            
                            @if (Model.Status == "For Billing")
                            {
                                <li><a class="dropdown-item" href="#" id="revokeApproval" data-id="@Model.DispatchTicketId"><i class="bi bi-x-circle-fill"></i> Mark as "For Approval"</a></li>
                                <li><a class="dropdown-item" href="#" id="disapproveTariff" data-id="@Model.DispatchTicketId"><i class="bi bi-x-circle-fill"></i> Mark as "Disapproved"</a></li>
                            }
                            
                            @if (Model.Status == "For Approval")
                            {
                                <li><a class="dropdown-item" href="#" id="approveTariff" data-id="@Model.DispatchTicketId"><i class="bi bi-check-circle-fill"></i> Mark as "Approved"</a></li>
                                <li><a class="dropdown-item" href="#" id="disapproveTariff" data-id="@Model.DispatchTicketId"><i class="bi bi-x-circle-fill"></i> Mark as "Disapproved"</a></li>
                            }
                            
                            @if (Model.Status == "Disapproved")
                            {
                                <li><a class="dropdown-item" href="#" id="approveTariff" data-id="@Model.DispatchTicketId"><i class="bi bi-check-circle-fill"></i> Mark as "Approved"</a></li>
                                <li><a class="dropdown-item" href="#" id="revokeApproval" data-id="@Model.DispatchTicketId"><i class="bi bi-x-circle-fill"></i> Mark as "For Approval"</a></li>
                            }
                            
                            @if (!string.IsNullOrEmpty(Model.ImageName))
                            {
                                <li><a class="dropdown-item" href="#" id="viewUpload"><i class="bi bi-eye-fill"></i> View Upload</a></li>
                            }
                            
                            @if (!string.IsNullOrEmpty(Model.VideoName))
                            {
                                <li><a class="dropdown-item view-video" href="#" data-videolink="@Model.VideoSignedUrl"><i class="bi bi-play-circle-fill"></i> Play Video</a></li>
                            }
                        </ul>
                    </div>
                }

            </div>
            <div class="text-center" style="width: 250px;">
                @if (Model.JobOrderId.HasValue)
                {
                    <a class="btn btn-outline-primary border col-12 align-content-center" asp-controller="JobOrder" asp-action="Details" asp-route-id="@Model.JobOrderId.Value">
                        <i class="bi bi-arrow-90deg-left"></i> Back to Job Order
                    </a>
                }
                else
                {
                    <a class="btn btn-outline-primary border col-12 align-content-center" asp-controller="DispatchTicket" asp-action="Index" asp-area="User" asp-route-filterType="@filterType">
                        <i class="bi bi-arrow-90deg-left"></i> Go Back
                    </a>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            document.getElementById('viewUpload')?.addEventListener('click', function () {
                let maxHeight = window.innerHeight * 0.8;

                Swal.fire({
                    imageUrl: '@Html.Raw(Model.ImageSignedUrl)',
                    imageAlt: "Custom image",
                    showConfirmButton: false,
                    background: 'transparent',
                    customClass: {
                        popup: 'custom-image-popup' // Unique class for this modal
                    },
                    padding: 0,
                    width: 'auto',
                    heightAuto: true,
                    didOpen: () => {
                        let swal2Image = $('.swal2-image');
                        swal2Image.css('max-height', maxHeight + 'px');
                        swal2Image.css('height', 'auto');
                    }
                });
            });

            document.getElementById('approveTariff')?.addEventListener('click', function () {

                let imageId = this.getAttribute('data-id');

                Swal.fire({
                    title: "Approve this Tariff?",
                    text: "The ticket will be available for billing.",
                    showCancelButton: true,
                    confirmButtonText: "Yes",
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = `@Url.Action("Approve", "DispatchTicket", new { area = "User" })/${imageId}`;
                    }
                });
            });

            document.getElementById('revokeApproval')?.addEventListener('click', function () {

                let imageId = this.getAttribute('data-id');

                Swal.fire({
                    title: "Revoke tariff status?",
                    text: "This tariff will be editable again.",
                    showCancelButton: true,
                    confirmButtonText: "Yes",
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = `@Url.Action("RevokeApproval", "DispatchTicket", new { area = "User" })/${imageId}`;
                    }
                });
            });

            document.getElementById('disapproveTariff')?.addEventListener('click', function () {

                let imageId = this.getAttribute('data-id');

                Swal.fire({
                    title: "Disapprove this Tariff?",
                    text: "The ticket will not be available for billing",
                    showCancelButton: true,
                    confirmButtonText: "Yes",
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = `@Url.Action("Disapprove", "DispatchTicket", new { area = "User" })/${imageId}`;
                    }
                });
            });

            document.getElementById('deleteEntry')?.addEventListener('click', function () {

                let id = this.getAttribute('data-id');

                Swal.fire({
                    title: "Delete this Dispatch Ticket?",
                    text: "This action cannot be undone.",
                    showCancelButton: true,
                    confirmButtonText: "Yes",
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = `@Url.Action("Delete", "DispatchTicket", new { area = "User" })/${id}`;
                    }
                });
            });

            $(document).on("click", ".view-video", function () {
                const videoLink = this.getAttribute("data-videolink");
                if (!videoLink) {
                    console.error("No video found.");
                    return;
                }

                const maxHeight = window.innerHeight * 0.8;
                Swal.fire({
                    html: `
                            <video width="1280" height="720" controls>
                                <source src="${videoLink}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            `,
                    showConfirmButton: false,
                    padding: 0,
                    width: "auto",
                    heightAuto: true,
                    background: "transparent",
                    didOpen: () => {
                        $(".swal2-image").css({
                            "max-height": `${maxHeight}px`,
                            "height": "auto"
                        });
                    }
                });
            });

        });
    </script>
}
