@model Collection

@{
    ViewData["Title"] = "Collection - Preview";

    var decimalFormat = SD.Two_Decimal_Format;
}

<div class="loader-container" style="display: none;">
    <div class="loader"></div>
    <div class="loader-text">Importing...</div>
</div>

<br class="br-top" />
<table class="w-100 mb-2">
    <tbody>
    <tr>
        <td class="text-end" style="padding: 0 !important;">
                <img src="~/img/mmsi-logo.jpg" width="75px" height="75px"/>
        </td>
    </tr>
    <tr style="margin: 0 !important;">
        <td class="text-center" style="padding: 0 !important;">
            <h2 class="company-name" style="margin: 0 0 1px 0;"><u><b>&nbsp;MALAYAN MARITIME SERVICES INC.&nbsp;</b></u></h2>
            <p style="margin: 0; padding: 0; line-height: 1;">
                Office Address 14th Floor Jollibee Centre, San Miguel Ave., Pasig City<br/>
                Phone No: 633-4302 * 633-9472 * 634-4904<br/>
                Business Office: 10 JP LAUREL AVE, SASA, DAVAO CITY<br/>
                Mobile No: +639178202692
            </p>
        </td>
    </tr>
    <tr>
        <td class="text-end" style="padding-top: 10px !important;"><h6 class="series"><b>No.&nbsp;@Html.DisplayFor(model => model.MMSICollectionNumber)</b></h6></td>
    </tr>
    <tr>
        <td class="text-center" style="padding: 0 !important;"><h3 class="module-name"><b>COLLECTION</b></h3></td>
    </tr>
    </tbody>
</table>

<br />
<div class="table-responsive">
    <table class="w-100" style="margin-top:20px;">
        <tbody>
        <tr>
            <td>
                <span><b>Sold to:</b></span>
                &nbsp; @Model.Customer?.CustomerName?.ToUpper() &nbsp;<br />

                <span><b>Address:</b></span>
                &nbsp; @Model.Customer?.CustomerAddress?.ToUpper() &nbsp;<br />

                <span><b>TIN:</b></span>
                &nbsp; @Model.Customer?.CustomerTin &nbsp;<br />

                <span><b>Business Style:</b></span>
                &nbsp; @Model.Customer?.BusinessStyle?.ToUpper() &nbsp;<br />

                <span><b>Check Number:</b></span>
                &nbsp; @Model.CheckNumber?.ToUpper() &nbsp;<br />

                <span><b>Check Date:</b></span>
                &nbsp; @Model.CheckDate.ToString() &nbsp;<br />
            </td>

            <td class="w-25 text-nowrap">

                <b>Date :</b> @Model.CreatedDate.ToString(SD.Date_Format)&nbsp;<br />
                <b>Bank :</b> MBTC &nbsp;<br />
                <b>Account No :</b> 167-7-16753668-5 &nbsp;<br />
                <b>Account Name :</b> MALAYAN MARITIME SERVICES INC. &nbsp;<br />
                <b>Deposit Date :</b> @Model.DepositDate.ToString() &nbsp;<br /><br />
                &nbsp;
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive" style="margin-top:20px;">
    <table class="table-bordered w-100 text-center">
        <thead>
        <tr>
            <th>BILLING NO.</th>
            <th>BILLING DATE</th>
            <th>CUSTOMER</th>
            <th>AMOUNT</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.PaidBills != null)
        {
            @foreach (var billing in Model.PaidBills)
            {
                <tr style="height:30px !important;">
                    <td>
                        <a href="@Url.Action("Preview", "Billing", new { id = billing.MMSIBillingId })" class="text-decoration-none">@billing.MMSIBillingNumber</a>
                    </td>
                    <td>@billing.CreatedDate</td>
                    <td>@billing.Customer?.CustomerName</td>
                    <td>@billing.Amount</td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>

<div style="margin-top:20px;">
    <table class="w-100">
        <tbody>
        <tr>
            <td>
            </td>
            <td style="width:40%;">
                <div>
                    <table class="w-100">
                        <tbody class="text-nowrap">
                        <tr>
                            <td><p style="height: 9px; margin-left:8%; font-size: 15px;"><b>Collection Amount: </b></p></td>
                            <td class="text-end" style="font-size: 15px;">@Model.Amount.ToString(decimalFormat)</td>
                        </tr>
                        <tr>
                            <td><p style="height: 9px; margin-left:8%; font-size: 15px;"><b>EWT Amount: </b></p></td>
                            <td class="text-end" style="font-size: 15px;">@Model.EWT.ToString(decimalFormat)</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row text-end justify-content-end mt-5">
        <div class="d-flex me-3" style="width: 250px">
            <a class="btn btn-outline-primary border custom2-btn col-12" asp-controller="Collection" asp-action="Index">
                <i class="bi bi-arrow-90deg-left"></i> Go Back
            </a>
        </div>
    </div>
</div>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
